.card-item {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: var(--gap);
    min-width: var(--card-width);
}

input, select, button {
    padding: var(--padding);
    font-size: var(--font-size);
}

#card {
    background-color: #436a70;
    width: var(--card-width);
    height: 215px;
    border-radius: var(--button-radius);
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        '. . . . bank'
        '. . . . .'
        '. code code code .'
        '. . . valid .'
        '. . . . .'
        '. holder holder . .'
        '. . . . .'
        'type . . . balance';
    font-size: 1.4rem;
    padding: var(--padding-double);
    white-space: nowrap;
    align-self: center;
    opacity: 0;
    animation-name: card-enter;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes card-enter {
    to {opacity: 1}
}

#card > * {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#bank {
    grid-area: bank;
}

#code {
    grid-area: code;
}

#valid {
    grid-area: valid;
}

#holder {
    grid-area: holder;
}

#type {
    grid-area: type;
}

#balance {
    grid-area: balance;
    justify-self: center;
}

#card-controls {
    width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    gap: var(--gap);
}

#card-controls button {
    width: 25%;
    border-radius: var(--button-radius);
}