@using WebBank2App.Models
@using WebBank2App.Services
@inject TextFormatter textFormatter;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Cards";
    IEnumerable<CardModel> cards = ViewBag.Cards;
}
<section id="container">
    @await Html.PartialAsync("AccountMenu")
    <main id="card-content">
        <div class="card-item">
            <h1>@ViewBag.Title</h1>
            <select id="cards-drop-list">
                @foreach (var card in cards)
                {
                    <option value=@card.Id>@textFormatter.FormatCardNumber(card.Code)</option>
                }
            </select>
            <div id="card">
                <div id="bank">Bank Name</div>
                <div id="code">Code</div>
                <div id="valid">12/24</div>
                <div id="holder">Card Holder</div>
                <div id="type">Type</div>
                <div id="balance">0</div>
            </div>
            <div id="card-controls">
                <button>Pin</button>
                <button>CCV</button>
                <button>Block</button>
            </div>
        </div>
        <div class="card-item">
            <div id="transfersHistory"></div>
        </div>
    </main>
</section>
@section Script {
    <script src="~/scripts/accounts.js"></script>
    <script src="~/scripts/cards/index.js"></script>
}

@section Styles {
    <link href="~/styles/accounts/index.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/styles/accounts/cards/index.css" rel="stylesheet" asp-append-version="true" />
}