@using WebBank2App.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Transfers";
    IEnumerable<CardModel> cards = ViewBag.Cards;
}
<section id="container">
    @await Html.PartialAsync("AccountMenu")
    <main id="transfer-content">
        <div class="transfer-item">
            <h1>@ViewBag.Title</h1>
            <select id="transfer-type">
                <option value="own">Between my accounts</option>
                <option value="code">By card code</option>
            </select>
        </div>
        <form class="form-transfer transfer-item" id="form-transfer-own" autocomplete="off">
            <label>From card:</label>
            <select name="accountIdFrom">
                @foreach (var card in cards)
                {
                    <option value=@card.Id>@card.Code</option>
                }
            </select>
            <label>To card:</label>
            <select name="accountIdTo">
                @foreach (var card in cards)
                {
                    <option value=@card.Id>@card.Code</option>
                }
            </select>
            <label>Amount:</label>
            <input type="text" name="amount" />
            <div class="result">A</div>
            <input type="submit" value="Confirm" />
        </form>
        <form class="form-transfer transfer-item display-none" id="form-transfer-code" autocomplete="off">
            <label>From card:</label>
            <select name="accountIdFrom">
                @foreach (var card in cards)
                {
                    <option value=@card.Id>@card.Code</option>
                }
            </select>
            <label>To card:</label>
            <input type="text" name="cardCodeTo" />
            <label>Amount:</label>
            <input type="text" name="amount" />
            <div class="result">A</div>
            <input type="submit" value="Confirm" />
        </form>
    </main>
</section>

@section Script {
    <script>
        document
            .getElementById("transfer-type")
            .addEventListener("change", (ev) => {
                for (const form of document.getElementsByClassName("form-transfer")) {
                    form.classList.add("display-none");
                }
                
                const theForm = document.getElementById(`form-transfer-${ev.target.value}`);
                theForm.classList.remove("display-none");
            })

        document
            .getElementById("form-transfer-own")
            .addEventListener("submit", ev => {
                ev.preventDefault();
                const formData = new FormData(ev.target);
                fetch("/api/account/transfer", {
                    method: "POST",
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        if (data.ok) {
                            console.log("Ok.");
                        } else {
                            document
                                .getElementsByClassName("result")[0]
                                .textContent = data.message;
                        }
                    });
            })

        document
            .getElementById("form-transfer-code")
            .addEventListener("submit", ev => {
                ev.preventDefault();
                const formData = new FormData(ev.target);
                fetch("/api/account/transfer", {
                    method: "POST",
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        if (data.ok) {
                            console.log("Ok.");
                        } else {
                            document
                                .getElementsByClassName("result")[1]
                                .textContent = data.message;
                        }
                    });
            })
    </script>
}

@section Styles {
    <link href="~/accounts/index.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/accounts/transfers/index.css" rel="stylesheet" asp-append-version="true" />
}