@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	ViewBag.Title = "Auth";
}
<section id="container">
	<main id="auth-content">
		<h2>@ViewBag.Title</h2>
		<form id="form-login" class="auth-item" autocomplete="off">
			<input type="text" name="userName" placeholder="Login" />
			<input type="password" name="password" placeholder="Password" />
			<div id="auth-items">
				<div>
					<input type="radio" name="auth" value="registration" id="registration" checked />
					<label for="registration">New account</label>
				</div>
				<div>
					<input type="radio" name="auth" value="login" id="login" />
					<label for="login">Existing account</label>
				</div>
			</div>
			<div id="policy-item">
				<input type="checkbox" name="policy" />
				<label>Accept <a href="#" style="color: blue">Policy</a></label>
			</div>
			<input type="submit" value="Log in" />
		</form>
	</main>
</section>

@section Script {
	<script>
		document.getElementById("form-login")
			.addEventListener("submit", async (ev) => {
				ev.preventDefault();

				const formData = new FormData(ev.target);

				await fetch(`/Auth/Login${window.location.search}`, {
					method: "POST",
					body: formData
				})
				.then(response => response.json())
				.then(data => window.location.replace(data.result));
			})
	</script>
}

@section Styles {
	<link href="~/styles/auth/index.css" rel="stylesheet" asp-append-version="true" />
}