@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var a = User.Identity?.IsAuthenticated;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/styles/main.css" rel="stylesheet" asp-append-version="true" />
    @await RenderSectionAsync("Styles", false)
</head>
<body>
    <header>
        <div id="emblem"></div>
        <nav>
            <ul id="nav-main">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Account" asp-action="Cards">Account</a></li>
                @if (User.Identity?.IsAuthenticated == true)
                {
                    <li><a asp-controller="Auth" asp-action="Logout">Log Out</a></li>
                }
                else
                {
                    <li><a asp-controller="Auth" asp-action="Index">Log In</a></li>                    
                }
            </ul>
        </nav>
    </header>
    @RenderBody()
    <footer>2024</footer>
    @await RenderSectionAsync("Script", false)
</body>
</html>
