aside {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: var(--padding);

    @media (max-width: 600px) {
        flex-direction: row;
        align-items: center;
    }
}

aside a {
    padding: var(--padding);
}

aside a:hover {
    background-color: #a7c4c7;
}

.marked {
    background-color: #d3b9ac;
}