aside {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    
    @media (max-width: 600px) {
        flex-direction: row;
    }
}

aside a {
    padding: 10px;
}

aside a:hover {
    background-color: #a7c4c7;
}

.marked {
    background-color: #d3b9ac;
}