@import url(header.css);
@import url(menu.css);
@import url(container.css);

:root {
    --gap: 10px;
    --gap-big: 40px;
    --gap-large: 10vw;
    --font-size: clamp(0.8rem, 2vmin, 2rem);
    --font-size-big: clamp(1.2rem, 3vmin, 3rem);
    --padding: 10px;
    --padding-double: calc(var(--padding) * 2);
    --button-radius: 10px;
    --media-max-width: 800px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh calc(85vh - var(--gap) * 2) 5vh;
    gap: var(--gap);
    font-size: var(--font-size);
}

footer {
    display: flex;
}

.display-none {
    display: none !important;
}

.visibility-hidden {
    visibility: hidden;
}

.message-error {
    color: red;
    height: var(--font-size);
}