.transfer-item {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: var(--gap);
    padding: var(--padding);
}

input, select {
    padding: var(--padding);
    font-size: var(--font-size);
}